/* General Layout */

nav {
    display: flex;
    justify-content: space-around;
}

#game-container {
    text-align: center;
}

#timer {
    font-size: 24px;
}

#start-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#start-btn {
    /* Style the button as needed */
    font-size: 20px;
}

#code-guessing {
    /* Style as needed for your game */
}

/* Styling for Game Elements */

body {
    background-color: #1b1b1b;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p {
    text-align: center;
    color: rgba(67, 80, 253, 0.733);
}

#instructions-section {
    background-color: #3a3a3c;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
}

.feedback-row,
#input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.feedback-box,
.input-box {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #000;
    font-size: 20px;
    margin-right: 5px;
    background-color: #3a3a3c;
    border-radius: 25%;
}

.feedback-box {
    background-color: red;
}

.feedback-box,
.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.duplicate-correct {
    background-image: linear-gradient(to bottom left, green, blue);
    color: white;
}

/* Keyboard Styling */

.keyboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.key {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #000;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 25%;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #3a3a3c;
}

.delete-button {
    width: 90px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 15%;
    background-color: rgba(255, 4, 4, 0.541);
}
.guess-button {
    width: 90px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 15%;
    background-color: rgba(4, 255, 4, 0.541);
}

#instructionsButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #333;
}


.snapshot {
    display: flex;
    margin: 10px;
}

.snapshot-box {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}

#current-attempts-label,
#number-of-correct-codes-label {
  font-size: 18px; /* Adjust the size as needed */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Set the text color */
  margin-bottom: 5px; /* Add some space below the text */
  text-align: center; /* Center the text */
}

#current-attempts-container,
#snapshots-container {
  margin-bottom: 15px; /* Add some space below the containers */
  border: 1px solid #ccc; /* Add a border if desired */
  padding: 10px; /* Add some padding inside the containers */
}


.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    border: 2px solid #888;
  }
  
  .modal-content {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #888;
    width: 80%;
    border-radius: 25%;
  }
  
  .modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content p {
    color: #000; /* You can change this to any color you like */
}
  